body{
	padding:20px
}
#container{
	width :auto;
}
#forms{
	display:flex;
	justify-content:space-around;
}
.form{
	text-align:center;
	width:300px;
	height: 250px;
	border-style: groove;
}
#goldtext{
	display:flex;
}